.bwf_table{ width:100%; background-color:#EEEEEE; padding:0.25em; }
.bwf_row{ width:100%; padding:0.25em; }
.bwf_column_0{ display:block; color:#555555; }
.bwf_column_1{ }
.bwf_column_2{ display:none; }
.bwf_input{ font-size:1.25em; }
.bwf_select{ font-size:1.25em; }
.bwf_textarea{ font-size:1.25em; }

.bwf_bold{ font-weight:bold; }
.bwf_heavy_red{ color:#FF0000; font-weight:900; border:none; margin:0; padding:0 0.25em 0 0.25em; }
